*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: darkslategray;
}

.card{
    width: 90%;
    max-width: 47rem;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 10rem auto 0;
    padding: 4rem 3.5rem;
    border-radius: 20px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    flex: 1;
    height: 5rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    margin-right: 1.6rem;
    font-size: 1.8rem;
}

.search button{
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    padding: .8rem;
    cursor: pointer;
}

.search i{
    font-size: 3.2rem;
}
.weather_icon{
    width: 17rem;
    margin: 3rem auto 0;
}

.weather h1{
    font-size: 8rem;
    font-weight: 600;
}
.weather h2{
    font-size: 5rem;
    font-weight: 600;
    margin-top: -1rem;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 0 2.5rem;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 4rem;
    margin-right: 1rem;
}

.humidity, .wind{
    font-size: 2.5rem;
}